<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.PrzychodniaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Przychodnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataLayer.Properties.Settings.Przychodnia1ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Przychodnia1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>